.movie {
  display: flex;

  gap: 5px;
}

.image_container {
  padding: 5px;
  align-self: center;
}

.poster {
  width: 320px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  border-bottom: 1px blue solid;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.production {
  display: flex;
  align-items: center;
  gap: 10px;

  & img {
    width: 100px;
    margin-bottom: 10px;
  }
}
