.movie {
  display: flex;
  gap: 5px;
}

.image_container {
  padding: 10px;
  align-self: center;
}

.poster {
  width: 320px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  border-bottom: 1px blue solid;
  gap: 10px;
}

.center {
  display: flex;
  justify-content: center;
}
