.movie-list {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  transition: transform 0.3s;
  transform-origin: left;

  &:hover {
    transform: scale(1.3);
  }
}

.link {
  text-decoration: none;
  display: flex;
  border-bottom: 1px solid gray;

  flex-direction: row;
  gap: 10px;
  color: inherit;
}

.title {
  margin: 0;
  padding: 0;
}

.image_container {
  align-self: center;
}

.poster {
  width: 40px;
}

.movie {
  display: flex;
  flex-direction: row;
}
